<div class="col-sm-12">
    <h2 class="title">HOT PRODUCTS</h2>

    <div class="col-sm-12">
        <div class="col-sm-3">
            <div class="img-mother">
                <a href="product-list2.html">
                    <img class="img-theme" src="../images/product-1.jpg" alt="music-love">
                </a>
            </div>
        </div>

        <div class="col-sm-3">
            <a href="product-list2.html">
                <img class="img-theme" src="../images/product-2.jpg" alt="music-love">
            </a>
        </div>

        <div class="col-sm-3">
            <a href="product-list2.html">
                <img class="img-theme" src="../images/product-3.jpg" alt="music-love">
            </a>
        </div>

        <div class="col-sm-3">
            <a href="product-list2.html">
                <img class="img-theme" src="../images/product-4.jpg" alt="music-love">
            </a>
        </div>
    </div>

    <!--PROMOTION-->
    <div>
        <h2 class="title">PROMOTION</h2>

        <div class="col-sm-12">
            <div class="col-sm-6">
                <a href="product-list2.html">
                    <img class="img-pro" src="../images/promotion-1.png" alt="music-love">
                </a>
            </div>

            <div class="col-sm-6">
                <a href="product-list2.html">
                    <img class="img-pro" src="../images/promotion-2.png" alt="music-love">
                </a>
            </div>
        </div>
    </div>

    <!--FEEDBACK-->
    <div>
        <h2 class="title">USER FEEDBACK</h2>

        <div class="col-sm-12" style="margin-bottom: 3rem; margin-top: 4rem">
            <div class="col-sm-6">
                <div class="col-sm-4">
                    <img class="img-custom-feedback" src="../images/avatar-1.jpg"
                         alt="slider 1">
                </div>

                <div class="col-sm-6">
                    <span>Không gian cực xinh, thoáng mát, có ban công bên ngoài. Đặc biệt có phòng dành riêng cho người đọc sách học tập rất yên tĩnh.</span>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="col-sm-4">
                    <img class="img-custom-feedback" src="../images/avatar-3.jpg"
                         alt="slider 1">
                </div>

                <div class="col-sm-6">
                    <span>Lần đầu tiên ghé quán. Quán khá yên tĩnh, nhạc hay mà hơi nhỏ. Nhân viên phục vụ nhiệt tình. Nước ngon lắm</span>
                </div>
            </div>
        </div>
    </div>
</div>