<div class="col-lg-2" style="padding: 0">
    <div class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height: auto;">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../images/Ariana8.gif" class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <div>Hi, <span style="text-transform: capitalize;">Abarrane Emma</span></div>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form class="form-group slibar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control"
                           placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn"
                                class="btn btn-flat">
							<i class="fa fa-search"></i>
						</button>
					</span>
                </div>
            </form>

            <!--main menu-->
            <ul class="slibar-menu" style="height: 533px">
                <li class="header">MAIN NAVIGATION</li>
                <li class="slibar-item"><a href="user-profile.html"><i
                        class="fa fa-user" aria-hidden="true"></i>&nbsp; Detail Profie</a></li>
                <li class="slibar-item"><a href="cart.html"><i class="fa fa-shopping-cart"></i>&nbsp; Cart</a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </div>
</div>