<!--Slider-->
<div class="row">
	<div class="col-sm-12">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<!--<ol class="carousel-indicators">-->
				<!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
				<!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
			<!--</ol>-->

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active thumbnail" style="border: none">
					<img class="img-custom" src="../images/cover-Khai-Trương-Yên-Bái.png"
						alt="slider 1">
				</div>

				<div class="item thumbnail" style="border: none">
					<img class="img-custom" src="../images/slide.jpg"
						alt="slider 2">
				</div>
			</div>
		</div>
	</div>
</div>